extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/access-environment") Доступная среда
    li.breadcrumb-item.active(aria-current="page") #{title}
            
block contentForBlock
    p 1) для обучающихся с ограниченными возможностями здоровья по зрению:
    ul
        li официальный сайт колледжа адаптирован с учетом особых потребностей инвалидов по зрению, для просмотра предлагаемой на сайте информации можно воспользоваться специальной версией, обозначенной значком в верхней части экрана:
        li справочная информация о расписании лекций, учебных занятий изготовлена в адаптированной форме и размещается в папке на вахте колледжа.
    p 2) для обучающихся с ограниченными возможностями здоровья по слуху:
    ul
        li справочная информации о расписании учебных занятий, об изменениях в учебных занятиях подается визуально на первом этаже от входа левое крыло, на каждом этаже - на настенных мониторах
        li информация о звонке на урок/с урока подается зрительно, для этих целей в фойе и коридорах размещены красные световые индикаторы;
    p Установлены средства информационно-навигационной поддержки: экраны, текстовые табло, аудиовизуальные информационно-справочные системы.