extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/access-environment") Доступная среда
    li.breadcrumb-item.active(aria-current="page") #{title}
            
block contentForBlock
    p #[strong Заселение в общежитие производится после объявления о зачислении,] для заселения необходимо получить направление (направление выдается в установленные часы собеседования, см. отдельный график.)
    p.fw-bold С направлением необходимо пройти по адресу:
    p г. Нижневартовск, 15 мкр., ул.Чапаева д.4,
    p вахта общежития.
        br
        |т. 8(3466) 43-48-66
        br
        |Комендант : Иващенко Наталья Семеновна
        br
        |Воспитатель: Федорова Нина Борисовна
    p 1. #[strong Совершеннолетние студенты:]
        br
        |- паспорт
        br
        |- копия паспорта
    p 2. #[strong.fw-italic Несовершеннолетние  студенты:]
        br
        |- свидетельство о рождении студента ( если разные фамилии у студента и родителя (законного представителя)
        br
        |- копию паспорта родителя (законного представителя),
        br
        |- подтверждение опекунства (законного представительства) (при наличии)
    p.fw-bold Перечень принадлежностей, необходимых студенту для проживания в общежитии:
    p.m-0 1. Предметы личной гигиены (мыло, зубная паста, зубная щетка, стиральный порошок для стиральной машины «автомат», полотенце, сменное белье, гигиенические принадлежности (на Ваше усмотрение).
    p.m-0 2. Моющие, чистящие средства для уборки в квартире, чистки сантехники и электроплиты.
    p.m-0 3. Ведро, тазик, веник, совок, швабра, коврик, ветошь для мытья полов, губка для посуды (на Ваше усмотрение).
    p.m-0 4. Посуда (для личного пользования), пакеты для мусора.
