extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/basic-information") Основные сведения
    li.breadcrumb-item.active(aria-current="page")  #{title}
            
block contentForBlock
    ol
       li.mb-3.fs-4.fw-bold #[span.fs-5.fw-normal Разработка и реализация комплекса мер по профессиональной ориентации инвалидов и лиц с ограниченными возможностями здоровья в целях выбора ими профессии/специальности с учетом их способностей и склонностей.]
       li.mb-3.fs-4.fw-bold #[span.fs-5.fw-normal Содействие в создании условий доступности в профессиональных образовательных организациях, в том числе через организацию сетевого взаимодействия.]
       li.fs-4.fw-bold #[span.fs-5.fw-normal Реализация мероприятий по сопровождению инвалидов и лиц с ограниченными возможностями здоровья  при освоении образовательных программ среднего профессионального образования и профессионального обучения, содействие в их последующем трудоустройстве.]