extends baseForChoosing 

append breadcrumb        
    li.breadcrumb-item
        a.text-black.fw-bold(href="/basic-information") Основные сведения
    li.breadcrumb-item.active(aria-current="page")  #{title}
            
block contentForBlock
    - var link = "/basic-information/documents"
    section.linkToDoc.mb-4
        span.iconList.bg-secondary-subtle.p-2.rounded-3.me-2
            i.fa-solid.fa-list.fa-md.text-black
        p.m-0.d-inline-block Международные акты:
    section.linkToDoc.mb-4.ms-5
        a.text-black(href=`/docs/Декларация прав человека.docx`, target="_blank") 
            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                i.fa-solid.fa-file.fa-xl.text-black
            p.m-0.d-inline-block Декларация прав человека
    section.linkToDoc.mb-4.ms-5
        a.text-black(href=`/docs/Конвенция о правах инвалидов.pdf`, target="_blank") 
            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                i.fa-solid.fa-file.fa-xl.text-black
            p.m-0.d-inline-block Конвенция о правах инвалидов
            
    section.linkToDoc.mb-4
        span.iconList.bg-secondary-subtle.p-2.rounded-3.me-2
            i.fa-solid.fa-list.fa-md.text-black
        p.m-0.d-inline-block Указы Президента:
    section.linkToDoc.mb-4.ms-5
        a.text-black(href=`/docs/О мерах по реализации государственной политики в области образования и науки.pdf`, target="_blank") 
            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                i.fa-solid.fa-file.fa-xl.text-black
            p.m-0.d-inline-block О мерах по реализации государственной политики в области образования и науки
    section.linkToDoc.mb-4.ms-5
        a.text-black(href=`/docs/О мероприятиях по реализации государственной социальной политики.pdf`, target="_blank") 
            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                i.fa-solid.fa-file.fa-xl.text-black
            p.m-0.d-inline-block О мероприятиях по реализации государственной социальной политики

    section.linkToDoc.mb-4
        span.iconList.bg-secondary-subtle.p-2.rounded-3.me-2
            i.fa-solid.fa-list.fa-md.text-black
        p.m-0.d-inline-block Федеральные законы:
    section.linkToDoc.mb-4.ms-5
        a.text-black(href=`/docs/О СОЦИАЛЬНОЙ ЗАЩИТЕ ИНВАЛИДОВ В РОССИЙСКОЙ ФЕДЕРАЦИИ.pdf`, target="_blank") 
            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                i.fa-solid.fa-file.fa-xl.text-black
            p.m-0.d-inline-block О социальной защите инвалидов в российской федерации
    section.linkToDoc.mb-4.ms-5
        a.text-black(href=`/docs/О ратификации конвенции о правах инвалидов.pdf`, target="_blank") 
            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                i.fa-solid.fa-file.fa-xl.text-black
            p.m-0.d-inline-block О ратификации конвенции о правах инвалидов
    section.linkToDoc.mb-4.ms-5
        a.text-black(href=`/docs/Об образовании в Российской Федерации.pdf`, target="_blank") 
            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                i.fa-solid.fa-file.fa-xl.text-black
            p.m-0.d-inline-block Об образовании в Российской Федерации    
            
    section.linkToDoc.mb-4
        span.iconList.bg-secondary-subtle.p-2.rounded-3.me-2
            i.fa-solid.fa-list.fa-md.text-black
        p.m-0.d-inline-block Постановления и распоряжения:
    section.linkToDoc.mb-4.ms-5
        a.text-black(href=`/docs/МЕЖВЕДОМСТВЕННЫЙ КОМПЛЕКСНЫЙ ПЛАН МЕРОПРИЯТИЙ.pdf`, target="_blank") 
            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                i.fa-solid.fa-file.fa-xl.text-black
            p.m-0.d-inline-block Межведомственный комплексный план мероприятий
    section.linkToDoc.mb-4
        a.text-black(href=`${link}/local-acts`) 
            span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                i.fa-solid.fa-arrow-right.fa-lg.text-black
            p.m-0.d-inline-block Локальные акты