extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/access-environment") Доступная среда
    li.breadcrumb-item.active(aria-current="page") #{title}
            
block contentForBlock
    p В  колледже создана коллекция цифровых образовательных ресурсов колледжа, которая является содержательным наполнением образовательного процесса, а также: 
    ul
        li обеспечивает преподавателей и обучающихся актуальной своевременной информацией, соответствующей целям и содержанию образования;
        li создает условия для осуществления индивидуальной самостоятельной учебной деятельности обучающихся, формирования навыков самообучения, саморазвития, самосовершенствования, самообразования, самореализации;
        li предоставляет на рабочее место каждого преподавателя весь спектр возможностей современных информационных и телекоммуникационных технологий в процессе выполнения разнообразных видов учебной деятельности для получения качественного образовательного результата;
        li обеспечивает доступ к цифровым образовательным ресурсам посредством информационно-коммуникационных сервисов интернета.
    p В организации образовательного процесса с инвалидами и лицами с ограниченными возможностями здоровья используются дистанционные образовательные технологии, средства организации электронного обучения, позволяющие осуществлять прием-передачу информации в доступных формах в зависимости от нарушений функций организма человека. На базе программного продукта «1С:Электронное обучение. Образовательная организация» создана электронная информационно-образовательная среда, которая объединяет в себе информационные образовательные ресурсы, средства обучения и управления образовательным процессом, что  позволяет применять электронное обучение и дистанционные образовательные  технологии (электронные учебные курсы (теория, тесты, глоссарии), видеолекции, асинхронный обмен сообщениями, форум),  в том числе для лиц с ОВЗ и инвалидов  с нарушениями слуха, опорно – двигательного аппарата, соматическими и ментальными нарушения, а также частично для лиц с нарушениями зрения.
    p Для проведения вебинаров используется система для организации видеоконференций TrueConf, которая допускает одновременное подключение большого числа  пользователей.  Программа позволяет демонстрировать видео, презентации, передавать файлы, организовывать видеосвязь и общение участников в режиме онлайн.
    p С помощью редактора электронных учебных курсов IspringSuite создан интерактивный образовательный контент, ориентированный на разные категории обучающихся. Электронные курсы (презентации с тестами и опросами,  диалоговыми тренажерами, видеолекциями), разработанные   в IspringSuite, доступны как через систему дистанционного обучения, так и путем размещения в коллекции цифровых образовательных ресурсов.
    p Коллекция содержит:
    ul
        li примеры цифровых образовательных ресурсов созданных/собранных преподавателями колледжа;
        li основные профессиональные образовательные программы, выложенные на сайт колледжа;
        li локальные нормативные акты;
        li цифровые образовательные ресурсы (авторские презентации, видео- аудиофайлы, лекции, иллюстративные материалы);
        li фонды оценочных средств;
        li материалы для проведения внеаудиторной деятельности, направленной на популяризацию здорового образа жизни.
    p Для возможности работы с ЦОР и ФОР организован авторизованный доступ. Электронные образовательные ресурсы:
    ul
        li #[a.text-info(href="//biblioclub.ru") http://biblioclub.ru/] #[strong Университетская библиотека ONLINE (с функцией для лиц с ограниченными возможностями здоровья)]
        li #[a.text-info(href="//library.rsue.ru") https://library.rsue.ru/] библиотека РГЭУ РИНХ
        li #[a.text-info(href="//iprbookshop.ru/special/") http://www.iprbookshop.ru/special/] Электронно-библиотечная система IPR BOOKS (с функцией для лиц с ограниченными возможностями здоровья)
        li #[a.text-info(href="//edu.ru") www.edu.ru] - Информационный портал "Российское образование"
        li #[a.text-info(href="//window.edu.ru") www.window.edu.ru] - Информационная система "Единое окно доступа к образовательным ресурсам"
        li #[a.text-info(href="//school-collection.edu.ru") www.school-collection.edu.ru] - Единая коллекция цифровых образовательных ресурсов
        li #[a.text-info(href="//fcior.edu.ru") www.fcior.edu.ru] - Федеральный центр информационно-образовательных ресурсов
    p Интернет ресурсы для инвалидов:
    ul
        li #[a.text-info(href="//invalid.ru/") http://invalid.ru/] Социальный сервер для инвалидов «Invalid.ru»
        li #[a.text-info(href="//voi.ru/") http://www.voi.ru/] Всероссийское общество инвалидов 
        li #[a.text-info(href="//vos.org.ru/") http://www.vos.org.ru/] Всероссийское общество слепых 
        li #[a.text-info(href="//vog.su/") http://www.vog.su/] Всероссийское общество глухих 
        li #[a.text-info(href="//diabet.ru/") http://www.diabet.ru/] Информация для больных диабетом «ДиаNet» 
        li #[a.text-info(href="//miloserdie.tellur.ru/") http://miloserdie.tellur.ru/] Сайт «Спешите делать добро!» 
        li #[a.text-info(href="//rgbs.ru/") http://www.rgbs.ru/] Российская государственная библиотека для слепых
        li #[a.text-info(href="//sos.ru/") http://www.sos.ru/] Сайт «SOS -служба помощи» 
        li #[a.text-info(href="//independentfor.narod.ru/") http://independentfor.narod.ru/] «Виртуальный центр молодых инвалидов»
        li #[a.text-info(href="//hemophilia.ru/aph/news.shtml") http://www.hemophilia.ru/aph/news.shtml] Сайт «Общества больных гемофилией»
        li #[a.text-info(href="//blood.ru/") http://blood.ru/] Гематологический научный центр РАМН
        li #[a.text-info(href="//downsideup.org/") http://www.downsideup.org/] «Даунсайд Ап» – помощь детям с синдромом Дауна
        li #[a.text-info(href="//gaoordi.ru/") http://gaoordi.ru/] «ГАООРДИ» - ассоциация общественных объединений родителей детей-инвалидов
        li #[a.text-info(href="//disability.ru/") http://www.disability.ru/] «Disability.ru» - российский интернет-портал для инвалидов
        li #[a.text-info(href="//hepatit-c.narod.ru/") http://hepatit-c.narod.ru/] Российское общество больных гепатитом “С”
        li #[a.text-info(href="//deafnet.ru/") http://www.deafnet.ru/] информационный Сервер «Сеть глухих» 
        li #[a.text-info(href="//chernobil.ru/") http://www.chernobil.ru/] благотворительная организация «Заслон Чернобыля» 
        li #[a.text-info(href="//ibrae.ac.ru/index.php?option=com_content&task=view&id=166&Itemid=217") http://www.ibrae.ac.ru/index.php?option=com_content&task=view&id=166&Itemid=217] Институт проблем безопасного развития атомной энергетики Чернобыльская авария: социальная защита населения
        li #[a.text-info(href="//katarzyna.ru/articles.php?lng=ru&pg=62") http://katarzyna.ru/articles.php?lng=ru&pg=62] «Катаржина» - производство колясок для инвалидов
        li #[a.text-info(href="//rescuefound.org/") http://www.rescuefound.org/] Благотворительный фонд «Спасение»
        li #[a.text-info(href="//mcity.mos.ru/ReceptSport/") http://mcity.mos.ru/ReceptSport/] Фонд спортивной и творческой реабилитации инвалидов «Рецепт-Спорт»
        li #[a.text-info(href="//oranta.ru/pages/index.html") http://www.oranta.ru/pages/index.html] «Оранта» - Общественная организация инвалидов на колясках
        li #[a.text-info(href="//diotima.narod.ru/") http://diotima.narod.ru/] «Диотима» - Общественная организация инвалидов