extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item.active(aria-current="page")  #{title}

block contentForBlock
    .row
        .col-6.border
            p.m-0.py-2 #[strong Шемелина Елена Валентиновна], заместитель директора по учебно-производственной работе
        .col-6.border.d-flex.align-items-center
            strong.fs-6 8(3466) 43-54-70 (доб. 132), 8(3466) 43-55-19 (доб. 132)
        .col-6.border
            p.m-0.py-2 #[strong Качан Раиса Николаевна], заведующий Ресурсным центром инклюзивного профессионального образования
        .col-6.border.d-flex.align-items-center
            strong.fs-6 8(3466)435470 (доб. 133)
        .col-6.border
            p.m-0.py-2 #[strong Демидова Татьяна Петровна], педагог - психолог -  консультационный пункт психолого – педагогической помощи для студентов-инвалидов, их родителей
        .col-6.border.d-flex.align-items-center
            strong.fs-6 8(3466) 435470 (доб. 115)
        .col-6.border
            p.m-0.py-2 #[strong Стрелкова Инна Владимировна], заведующий  трудоустройством
        .col-6.border.d-flex.align-items-center
            strong.fs-6 8(3466)43-54-70 (доб. 135)
        .col-6.border
            p.m-0.py-2 Электронная почта
        .col-6.border.d-flex.align-items-center
            a(href="mailto:bpoo-nsgk@mail.ru") bpoo-nsgk@mail.ru
        
        
        
