extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/access-environment") Доступная среда
    li.breadcrumb-item.active(aria-current="page") #{title}
            
block contentForBlock
    p Деятельность библиотеки колледжа ведется по двум основным направлениям - это информационное обслуживание и культурно-просветительская работа. Для лиц с ограниченными возможностями проводятся тематические выставки, составляются рекомендательные списки литературы. Информационное обслуживание пользователей ведется с применением электронных ресурсов, разработанных преподавателями колледжа, а также предоставляемыми электронной библиотечной системой #[a.text-info(href="//Znanium.com") Znanium.com].
    p При обслуживании обучающихся с ограниченными возможностями здоровья библиотекари используют специализированную информационную базу: книг, периодические издания, электронные ресурсы. В фондах библиотек присутствует литература по психологии, дефектологии, медицине, социальной адаптации и реабилитации, геронтологии, социальной защите и др. Литература по всем этим направлениям представлена, как на бумажных, так и на электронных носителях.
    p Читальный зал библиотеки оснащен портативными видео увеличителями текста и лупами, принтер для печати шрифтом Брайля для обучающихся с ограниченными возможностями здоровья по зрению.