extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/access-environment") Доступная среда
    li.breadcrumb-item.active(aria-current="page") #{title}
            
block contentForBlock
    p.m-0.mb-2 Наличие оборудованных учебных кабинетов, объектов для проведения практических занятий, библиотек, объектов спорта, средств обучения и воспитания, в том числе приспособленные для использования инвалидами и лицами с ОВЗ:
    ul
        li.mb-2.ms-3 читальный зал и аудитории оснащены портативными видео увеличителями текста и лупами для обучающихся с ограниченными возможностями здоровья по зрению,
        li.mb-2.ms-3 все аудитории колледжа оснащены комплектами, состоящими из экранного мульти-медиа проектора и интерактивной доски, позволяющей варьировать размеры текстов и изображений под особые потребности слабовидящих обучающихся,
        li.mb-2.ms-3 студентам предоставляются персональные планшеты на весь период обучения и учебники в электронной форме, которые с использованием экранного доступа с синтезом речи можно прослушивать,
        li.ms-3 оборудован зал для занятий физической культурой для обучающихся с ограниченными возможностями здоровья.