extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/basic-information") Основные сведения
    li.breadcrumb-item.active(aria-current="page")  #{title}
            
block contentForBlock
    ol
       li Разработка и реализация комплекса мер по профессиональной ориентации инвалидов и лиц с ограниченными возможностями здоровья в целях выбора ими профессии/специальности с учетом их способностей и склонностей.
       li Содействие в создании условий доступности в профессиональных образовательных организациях, в том числе через организацию сетевого взаимодействия.
       li Реализация мероприятий по сопровождению инвалидов и лиц с ограниченными возможностями здоровья  при освоении образовательных программ среднего профессионального образования и профессионального обучения, содействие в их последующем трудоустройстве.