extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/access-environment") Доступная среда
    li.breadcrumb-item.active(aria-current="page") #{title}
            
block contentForBlock
    p 1) для обучающихся с ограниченными возможностями здоровья по зрению:
    ul
        li в наличии имеется программное обеспечение:
            ul 
                li экранный доступ с синтезом речи, позволяющий текст, подаваемый на экране персонального компьютера, озвучивать,
                li компьютер, оснащенный дисплеем для вывода информации рельефно-точечным шрифтом,
                li читающая машина,
                li устройство создания рельефной графики для тактильного восприятия
        li все аудитории колледжа оснащены комплектами, состоящими из экранного мульти-медиа проектора и интерактивной доски, позволяющей варьировать размеры текстов и изображений под особые потребности слабовидящих обучающихся,
        li студентам предоставляются персональные планшеты на весь период обучения и учебники в электронной форме, которые с использованием экранного доступа с синтезом речи можно прослушивать,
    p 2) для обучающихся с ограниченными возможностями здоровья по слуху:
    ul
        li в наличии имеется следующее оборудования для обеспечения безбарьрной слуховой среды:
            ul
                li система организации равномерного звукового поля,
                li персональные наушники,
                li аудиосистема для создания безбарьерной среды,
                li индукционные петли,
        li студентам предоставляются персональные планшеты на весь период обучения и учебники в печатной и электронной форме,
        li все аудитории колледжа оснащены комплектами, состоящими из экранного мульти-медиа проектора и интерактивной доски, позволяющей подавать тексты и изображения с сопровождением субтитров
    p 3) для обучающихся, имеющих нарушения опорно-двигательного аппарата:
        ul
            li в наличии имеется программное обеспечение:
                ul
                    li системные блоки в комплекте с клавиатурой и оптической мышью (адаптированные для лиц с нарушения опорно-двигательного аппарата),
                    li сенсорные устройства ввода для облегчения взаимодействия с компьютерной техникой,
                    li специализированный манипулятор управления с выносными кнопками,
                    li экранный доступ с синтезом речи, позволяющий текст, подаваемый на экране персонального компьютера, озвучивать
            li все аудитории колледжа оснащены комплектами, состоящими из экранного мультимедиа проектора и интерактивной доски, позволяющей варьировать размеры текстов и изображений под особые потребности слабовидящих обучающихся,
            li студентам предоставляются персональные планшеты на весь период обучения и учебники в электронной форме, которые с использованием экранного доступа с синтезом речи можно прослушивать.
