extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/proforientation") Профориентация
    li.breadcrumb-item.active(aria-current="page")  #{title} 

block contentForBlock
    p.m-0 Уровень трудоустройства выпускников  из числа инвалидов и лиц с ОВЗ: 
    ul.fw-bold
        li.my-3 2020 год – 83%
        li.mb-3 2021 год – 79%
        li 2022 год – 79%
    p.m-0 Уровень трудоустройства выпускников  из числа инвалидов и лиц с ОВЗ по профессиям/специальностям: (профессия/специальность – количество выпускников с инвалидностью и ОВЗ/количество трудоустроенных (или продолжают обучение)(доля %)):
    ul.fw-bold
        li.my-3 Страховое дело – 1/0 – 0% 
        li.mb-3 Программирование в компьютерных системах - 2/1 – 50%
        li.mb-3 Физическая культура - 2/2 - 100%
        li.mb-3 Преподавание в начальных классах – 1/1 – 100%
        li.mb-3 Сетевое и системное администрирование 2/2 – 100%
        li.mb-3 Документационное обеспечение управления и архивоведение 1/1 – 100%
        li.mb-3 Сетевое и системное администрирование 2/1 – 50%
        li.mb-3 Документационное обеспечение управления и архивоведение 1/1 – 100%
        li.mb-3 Сетевое и системное администрирование 2/1 – 50%
        li.mb-3 Туризм – 1/1 – 100%
        li.mb-3 Банковское дело - 2/1 – 50%
        li Экономика и бухгалтерский учёт 2/2 – 100%