extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/access-environment") Доступная среда
    li.breadcrumb-item.active(aria-current="page") #{title}
            
block contentForBlock
    p В рамках обеспечения #[strong доступной (безбарьерной) среды для инвалидов и лиц с ОВЗ:]
    ul
        li Обустроены автостоянки для инвалидов со специальными опознавательными знаками по адресу: г. Нижневартовск, ул. Дружбы Народов 13а (основной корпус) и по адресу: Нижневартовск, ул. 60 лет Октября 49а (второй корпус)
        li Имеется микроавтобус для перевозки лиц с ОВЗ и инвалидов, оснащенный местом под инвалидную коляску
        li Все здания оснащены кнопкой вызова помощи (находятся кнопки на входах в здания колледжа)
        li Входные группы зданий колледжа обустроены раздвижными дверями, площадкой, навесом
        li У входа установлен звуковой маяк для лиц с нарушениями зрения.
        li Для транспортировки инвалидов на колясках по лестнице приобретен подъемник лестничный гусеничный мобильный.
        li Входные группы и внутренние структуры здания колледжа снабжены тактильными знаками и желтыми полосами для удобства перемещения
        li Обеспечена доступность путей движения в помещениях учреждения: первая и последняя ступени лестничных маршей выделены контрастным цветом (желтым) для предупреждения слабовидящих.
        li На дверях размещены информационные наклейки "Осторожно! Препятствие" (круг желтый).
        li В коридорах, холлах оборудованы места отдыха и ожидания (места для сидения, зона для коляски на каждом этаже).
        li Установлены средства информационно-навигационной поддержки: экраны, текстовые табло, аудиовизуальные информационно-справочные системы.
        li Созданы условия для передвижения инвалидов на колясках в столовой образовательной организации.
        li Оборудован санузел для инвалидов, передвигающихся в инвалидной коляске.