extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/partners") Партнеры
    li.breadcrumb-item.active(aria-current="page")  #{title} 
block name
    h1.fw-bold.mb-4 Общественные организации отдельных категорий граждан города Нижневартовска
block contentForBlock
    section.linkToDoc.mb-4
        a.text-black(href=`//vk.com/vog_nv`, target="_blank")             
            p.m-0.d-inline-block.lh-lg
                span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                    i.fa-solid.fa-globe.fa-lg.text-black
                |Ханты-Мансийское региональное отделение общероссийской общественной организации инвалидов "Всероссийское общество глухих"
    section.linkToDoc.mb-4
        a.text-black(href=`//hmansy.regvos.ru`, target="_blank")
            p.m-0.d-inline-block.lh-lg
                span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                    i.fa-solid.fa-globe.fa-lg.text-black
                |Ханты – Мансийское региональное отделение общероссийской общественной организации инвалидов "Всероссийское общество слепых"
    section.linkToDoc.mb-4
        a.text-black(href=`//family.ucitizen.ru`, target="_blank")
            p.m-0.d-inline-block.lh-lg
                span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                    i.fa-solid.fa-globe.fa-lg.text-black
                |Региональная общественная организация Ханты-Мансийского автономного округа - Югры "Многодетная семья и семья с ребенком-инвалидом"
    section.linkToDoc.mb-4
        a.text-black(href=`//news.ms2002.ru/index.php?option=com_content&task=section&id=123&Itemid=794`, target="_blank")
            p.m-0.d-inline-block.lh-lg
                span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                    i.fa-solid.fa-globe.fa-lg.text-black
                |Региональное отделение Общероссийской общественной организации инвалидов - больных рассеянным склерозом Ханты-Мансийского автономного округа - Югры
    section.linkToDoc.mb-4
        a.text-black(href=`//vk.com/public220625655`, target="_blank")
            p.m-0.d-inline-block.lh-lg
                span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                    i.fa-solid.fa-globe.fa-lg.text-black
                |Общественная организация инвалидов города Нижневартовска
    section.linkToDoc.mb-4
        a.text-black(href=`//invalidinfo.ru`, target="_blank")
            p.m-0.d-inline-block.lh-lg
                span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                    i.fa-solid.fa-globe.fa-lg.text-black
                |Общественная организация "Нижневартовское городское общество слепых"
    section.linkToDoc.mb-4
        a.text-black(href=`//nizhnevartovsk.guidetorussia.ru/firms/socialnaya-zashita-invalidov-detstva-d.html`, target="_blank")
            p.m-0.d-inline-block.lh-lg
                span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                    i.fa-solid.fa-globe.fa-lg.text-black
                |Нижневартовская ассоциация "Социальная защита инвалидов детства-Д"
    section.linkToDoc.mb-4
        a.text-black(href=`//2gis.ru/nizhnevartovsk/firm/70000001007029834`, target="_blank")
            p.m-0.d-inline-block.lh-lg
                span.iconArrow.bg-secondary-subtle.p-2.rounded-3.me-2
                    i.fa-solid.fa-globe.fa-lg.text-black
                |Ханты – Мансийская региональная общественная организация инвалидов «СОЮЗ ЧЕРНОБЫЛЬ ЮГРЫ"