extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/access-environment") Доступная среда
    li.breadcrumb-item.active(aria-current="page") #{title}
            
block contentForBlock
    p Созданы условия для передвижения инвалидов на колясках в столовой образовательной организации. Питание обучающихся с ограниченными возможностями здоровья осуществляется в столовой колледжа, обеспеченной всем необходимым оборудованием.
    p Питание предусматривает: горячие обеды.
    p Столовая колледжа расположена на первом этаже, имеет в наличии набор помещений и оборудования, позволяющие осуществлять приготовление безопасной и сохраняющей пищевую ценность продукции и кулинарных изделий. Количество посадочных мест в обеденном зале позволяет обеспечить посадку обучающихся в две перемены. Система хозяйственно-питьевого холодного и горячего водоснабжения, канализации и отопления оборудованы в соответствии с санитарно-эпидемиологическими требованиями.
    p Прием пищевых продуктов осуществляется при наличии документов, подтверждающих их качество и безопасность. Производство готовых блюд осуществляется в соответствии с технологическими картами. Ежедневно в обеденном зале вывешивается утвержденное меню.
    p В ежедневном рационе питания учитывается оптимальное соотношение пищевой и энергетической ценности, суточной потребности в витаминах и микроэлементов, белков, жиров и углеводов.