extends baseForChoosing 

append breadcrumb
    li.breadcrumb-item
        a.text-black.fw-bold(href="/access-environment") Доступная среда
    li.breadcrumb-item.active(aria-current="page") #{title}
            
block contentForBlock
    p В колледже оборудован зал для занятий физической культурой для обучающихся с ограниченными возможностями здоровья. Стены спортивного зала отвечают следующим требованиям:
    ul
        li крепежные детали для оборудования, регуляторов заложены заподлицо с поверхностью стен;
        li электрические выключатели, регуляторы осветительной арматуры расположены на высоте 1,20 м, доступной для инвалидов;
    p Двери спортивного зала, соответствуют общим правилам проектирования спортивных сооружений, а также отвечают и специальным требованиям:
    ul
        li в дверях присутствуют смотровые панели из противоударного стекла, чтобы обучающиеся с ОВЗ видели происходящее в спортивном зале, прежде чем войти в него, избегая таким образом возможных столкновений;
        li внизу на дверях размещены большие противоударные панели (высотой 30 см), т.к. при открывании их часто толкают подножкой инвалидного кресла.
    p Покрытие пола выполнено с учётом специальных требований:
    ul
        li пол в залах, где используются коляски, окрашен в более темные тона, чтобы не оставалось следов от шин;
        li для инвалидов с коляской и для инвалидов с ограниченной подвижностью пол слегка шероховатый;
        li пол выполнен из полу пружинящих синтетических материалов толщиной 6 мм;
    p В зале обеспечена легкая доступность инвентарной, возможность перевозки оборудования (брусья, маты и пр.).
    p Для слепых и слабовидящих спортсменов визуальная информация в зале должна дублироваться звуковой.